/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

#process-loading {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 130px;
    color: #fff;
    right: 0;
    font-weight: 600;
    z-index: 1039;
    text-align: center;
}

    #process-loading .innerText {
        padding: 5px 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 2px 2px 3px #8c8c8c;
    }


div.dataTables_wrapper div.dataTables_processing {
    width: 250px !important;
    background: transparent !important;
}

.text-danger {
    font-size: 13px !important;
}

.pt-30 {
    padding-top:30px;
}

.pt-26 {
    padding-top: 26px;
}

.imgHolder {
    position: relative;
    display: block;
}

.bimg-150 {
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    background-size: 100% 100%;
    box-shadow: 0 0 2px 2px #c2c2c2;
    border-radius: 5px;
}

.bimg-80 {
    background-repeat: no-repeat;
    width: auto;
    height: 80px;
    background-size: 100% 100%;
    box-shadow: 0 0 2px 2px #c2c2c2;
    border-radius: 5px;
}

.imgHolder .imageBoxPad {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 1% !%;
}

    .imgHolder .imageBoxPad .removeImg {
        position: relative;
        width: 18px;
        height: 18px;
        padding: 0px;
        font-weight: bold;
    }