﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="author" content="biz-networks">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <style>
        #toast-container {
            position: fixed;
            z-index: 999999;
            pointer-events: none;
        }

        .toast-top-right {
            top: 12px;
            right: 12px;
        }
    </style>
</head>
<body class="horizontal-layout horizontal-menu horizontal-menu-padding material-horizontal-layout material-layout 2-columns" data-open="click" data-menu="horizontal-menu" data-col="2-columns">
    <div id="process-loading" style="display:none;">
        <div class="bg-warning innerText">Processing</div>
    </div>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-container container center-layout">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-lg-block d-none"><a class="nav-link nav-link-expand mx-1" href="#"><span id="currentDateTime" class="text-danger text-bold-600"></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700" id="divUserName"></span><span class="avatar avatar-online"><img src="~/Content/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("userLogout","login")"><i class="material-icons">power_settings_new</i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="app-content container center-layout mt-2">
        <div class="content-header row">
        </div>
        <div class="content-wrapper">
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            if ('@application.affiliation.BE.Helper.doesCookieExist(application.affiliation.BE.Helper.userAccessToken)') {
                $("#divUserName").html('Admin');
            }
        });
    </script>
</body>
</html>
