﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="author" content="biz-networks">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <style>
        #toast-container {
            position: fixed;
            z-index: 999999;
            pointer-events: none;
        }

        .toast-top-right {
            top: 12px;
            right: 12px;
        }
    </style>
</head>
<body class="horizontal-layout horizontal-menu horizontal-menu-padding material-horizontal-layout material-layout 1-column" data-open="click" data-menu="horizontal-menu" data-col="1-column">
    <div id="process-loading" style="display:none;">
        <div class="bg-warning innerText">Processing</div>
    </div>
    <div class="app-content container center-layout mt-2">
        <div class="content-header row">
        </div>
        <div class="content-wrapper">
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
</body>
</html>
