﻿@model application.affiliation.BE.clsAdmin
@{
    ViewBag.Title = "Admin Member Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                <div class="card-header border-0">
                    <div class="card-title text-center">
                        Login
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("validateUserCredentials", "login", new AjaxOptions { OnBegin = "beginSubmit('btnLogin')", OnComplete = "completeSubmit('btnLogin','Login')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <fieldset class="form-group position-relative has-icon-left">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Username" } })
                                <div class="form-control-position">
                                    <i class="ft-user"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Password" } })
                                <div class="form-control-position">
                                    <i class="la la-key"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </fieldset>
                            <button type="submit" class="btn btn-black btn-block" id="btnLogin"><i class="ft-unlock"></i> Login</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}